
#header {
  width: 100%;
  position: fixed;        
  background-color: #333;
  padding: 10px 0;
  color: #fff;
  top: 0;
}
#form {
  border: 1px;
  border-radius: 10px;
  background-color: lightgrey;
  padding: 2%;
}
#email-label {
  display: table;
}
#video {
  padding: 5%;
  margin-top: 10px;
}
#footer {
  margin: auto;
  width: 40%;
}
#email {
  width: 70%;
  text-align: center;
  margin-top: 2%;  
  border: 1px;
  border-radius: 10px;
  padding: 0.7em;
}
#email-label {
  margin: 10%;
  font-size: 3em;
  width: 50%;

}
#submit {
  width: 30%;
  padding: 1em;
  border: 1px;
  border-radius: 10px;
}
#products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: stretch;
  padding: 5%;  
  border: 10px;
  border-radius: 100px;
}
#product1 {
  text-align: center;
  border: 10px solid black;
  border-width: 3px;
  width: 30%;
  height: 55%;
  padding-top: 3%;
  padding-bottom: 3%;
}
#product2 {
  text-align: center;
  border: 10px solid black;
  border-width: 3px;
  width: 30%;
  height: 55%;
  padding-top: 3%;
  padding-bottom: 3%;
}
#product3 {
  text-align: center;
  border: 10px solid black;
  border-width: 3px;
  width: 30%;
  height: 55%;
  padding-top: 3%;
  padding-bottom: 3%;
}
.prodhead {
  text-decoration: underline;
  font-weight: bolder;
}
.buy {
  padding: 5px;
  border-radius: 10px;
}
#flex-container {
  display: grid;
  justify-content: center;
}
h2 {
  font-weight: bolder;
}
.info-img {
  width: 40px;
  height: auto;
}
#navbar {
  position: fixed;
  right: 10px;
  display: flex;
  column-gap: 40px;
  background-color: aqua;
}