*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  top: 100px;
}
header {
  position: fixed;
  width: 100%;
  background: rgba(85, 214, 170, .85);
  text-align: center;
  top: 0;
}
nav {
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  background: rgba(85, 214, 170, .85);
  width: 100%;
  display: none;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0
}
nav li {
  margin-bottom: 1rem;
  margin-left: 1rem;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}
nav a:hover {
  color: #000;
}